<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619832864974-18glppbvl3u94bq5d8hn1tf09flu5t4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619832864974-18glppbvl3u94bq5d8hn1tf09flu5t4f</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Z8z8n8SLRJWLcnwJwGarpqIGv6EE_qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>619832864974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-2bd7a</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-2bd7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619832864974:ios:05dd927197a92fa309209f</string>
</dict>
</plist>